/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*------------GENERAL------------*/

body { margin: 0; margin-bottom: 25px; padding: 0; background-color: #F8F8F8; font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana"; font-size: 13px; color: #333; }

h1 { font-size: 28px; color: #000; }

a { color: #03c; }

.italics { font-style: italic; }

div#inner { border-top: 1px solid #fff; }

/*------------HEADER-------------*/

header { position: relative; border: 1px solid #D9D9D9; -webkit-box-shadow: rgba(0, 0, 0, 0.099219) 0px .5px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.099219) 0px .5px 5px; -o-box-shadow: rgba(0, 0, 0, 0.099219) 0px .5px 3px; box-shadow: rgba(0, 0, 0, 0.099219) 0px .5px 3px; }

header #header_content { height: 60px; width: 1040px; margin: 0 auto; }

#logo { top: 5px; position: absolute; overflow: hidden; padding: 0; width: 130px; height: 50px; }

#logo a { font-family: 'Lilita One', cursive; font-size: 46px; font-weight: 600; color: #FF817A; text-decoration: none; position: absolute; height: 50px; width: 130px; background-position: left top; background-repeat: no-repeat; -webkit-transition: all .3s linear; }

#logo a:hover { color: #FF6961; }

#login { float:right; margin: 0; }

#login a { font-weight:bold; }

#login li { list-style:none; font-size:9pt; }

/*-----------CONTAINER------------*/

.flash-notice { width: 1040px; margin: 0 auto; padding: 10px; position: absolute; top: 62px; background-color: #FFFEE0; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; margin-left: -10px; border: 1px solid #FBEED5; color: #C09853; }

.container { background-color: #F8F8F8; width: 1040px; margin: 0px 0 30px; margin-left: auto; margin-right: auto; min-height: 637px; }

.container h1 { padding: 5px 0; margin: 0; }

.container p { padding: 3px 0 3px; margin: 0; }

#content { margin-top: 30px; }

/*-------------FOOTER-------------*/

footer { clear: both; border-top: 1px solid #D9D9D9; }

footer #inner #footer_content { width: 1040px; margin: 0 auto; margin-top: 8px;}

footer #inner #footer_content a { color: #B3B3B3; font-size: 12px; text-decoration: none; font-weight: 600; -webkit-transition: all .3s linear; }

footer #inner #footer_content a:hover { color: #FF6961; }