<%= content_for(:header) do %>
  <%= javascript_include_tag "mapped_escapes" %>
<% end %>
<h1>rdtrip</h1>
<div id="holder_570" style="position:relative;">
  <% Escape.all.each do |escape| %>
    <%= content_tag(:div, content_tag(:span, content_tag(:strong, "#{escape.title}"), :class => "c_label"), :id => "#{escape.city.gsub(" ","_")}", :class => "city_hover") %>
  <% end %>
</div>
<div id="footer">&nbsp;</div>