<h1>Shout outs</h1>
<p>A special thank you to the following people: (in no particular order)</p>
<ul>
	<li>Matt Robinson</li>
	<li>Mike Chlipala</li>
	<li>Austen Ito</li>
	<li>Mike Silvis</li>
	<li>Horace Williams</li>
	<li>Tom Kiefhaber</li>
	<li>Chris Anderson</li>
	<li>Chris Maddox</li>
</ul>
