<h1>Shout outs</h1>
<p>A special thank you to the following people:</p>
<ul>
	<li>Mike Chlipala</li>
	<li>Austen Ito</li>
	<li>Matt Robinson</li>
	<li>Mike Silvis</li>
	<li>Horace Williams</li>
	<li>Tom Kiefhaber</li>
</ul>
